:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(3, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 100px;
}

.grid {
    margin: 100px 180px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, minmax(262px, 1fr));
    gap: 230px;
}
  
.tama {
    width: 16rem;
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

.propiedades{
    margin-top: 70px;
}

.card1{
    margin: 30px;
}

.gridd{ /* Aqui haacemos las columnas y le damos sus respectiva propiedades*/ 
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    gap: 50px; /* Con esta propiedad separamos cada columna con el espacio que le hallaamso assignado */
    margin: 10px;
    padding: 20px;
}

.cartas{ 
    position: relative;
    overflow: hidden;
    background-color: #999;
    border-radius: 30px 30px 30px;
}

.cartas img{
    width: 100%;
    max-height: 450px;
}


.cartas h2{
    text-align: center;
    margin: 10px auto 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(14, 13, 13);
    position: relative;
}


.cartas p{ /* Aqui ogranizamos el contenido dento del card en este caso el texto que da la informacion del personaje */
    padding: 6px;
    color: #000;
    margin: 0 20px;
    margin-bottom: 15px;
    font-weight: bold; /* Coloca en en negrita el color o lo repita mas */
}

a{
    text-decoration: none;
}

.encuesta{
    background-color: #7171d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

